
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edukator - Education Category Bootstrap Responsive Template | Contact :: W3layouts</title>
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Jost:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
</head>

<body>
<!--header-->
<div th:replace="~{header :: header}"></div>
<!--/header-->
<!-- breadcrumb -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="w3breadcrumb-gids">
                <div class="w3breadcrumb-left text-left">
                    <h2 class="title AboutPageBanner">
                        Holidays </h2>
                    <p class="inner-page-para mt-2">
                        Learn Anytime, Anywhere.
                        Accelerate Your Future.</p>
                </div>
                <div class="w3breadcrumb-right">
                    <ul class="breadcrumbs-custom-path">
                        <li><a th:href="@{/home}" href="index.html">Home</a></li>
                        <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Holidays</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//breadcrumb-->
<!-- contacts-5-grid -->
<section class="w3l-timeline-1 py-5">

    <div class="container py-lg-5 py-4">
        <div class="title-heading-w3 text-center mb-sm-5 mb-4">
            <h5 class="title-small">Educator School</h5>
            <h3 class="title-style">Awesome Holidays</h3>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5 class="sub-title-timeline"><i class="fas fa-snowman">Festival Holidays</i></h5>
                <div class="timeline">
                    <div class="timeline">
                        <div th:each="holiday :${FESTIVAL}" class="column">
                            <div class="title">
                                <h2 th:text="${holiday.reason}"></h2>
                            </div>
                            <div class="description">
                                <h6 th:text="${holiday.holidayDate}" class="fas fa-calendar-alt"><i class="fas fa-calendar-day "></i></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="sub-title-timeline"><i class="fas fa-snowman">Federal Holidays</i></h5>
                <div class="timeline">
                    <div class="timeline">
                        <div th:each="holiday :${FEDERAL}" class="column">
                            <div class="title">
                                <h2 th:text="${holiday.reason}"></h2>
                            </div>
                            <div class="description">
                                <h6 th:text="${holiday.holidayDate}" class="fas fa-calendar-alt"><i class="fas fa-calendar-day "></i></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--/footer-->
<div th:replace="~{footer :: footer}"></div>
<!-- //footer -->

<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("movetop").style.display = "block";
      } else {
        document.getElementById("movetop").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
</script>
<!-- //move top -->

<!-- Template JavaScript -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/theme-change.js"></script>
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
</script>
<!-- disable body scroll which navbar is in active -->

<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
</script>
<!--//MENU-JS-->
<script src="assets/js/bootstrap.min.js"></script>

</body>

</html>